In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

#df = pd.read_csv(r'C:\Users\yeop\Dropbox\lab\lab_pandas\taxi_dataset\nyc.2019-01.csv')
df = pd.read_csv('nyc.2019-01.csv')

In [27]:
df_loc = pd.read_csv('taxi+_zone_lookup.csv')

In [ ]:
df['tpep_pickup_datetime'] = pd.td_datetime(df['tpep_pickup_datetime'])
df['tpep_pickup_datetime'] = pd.td_datetime(df['tpep_pickup_datetime'])

In [42]:
df.tpep_pickup_datetime # == df['tpep_pickup_datetime']

0         2019-01-01 00:46:40
1         2019-01-01 00:59:47
2         2018-12-21 13:48:30
3         2018-11-28 15:52:25
4         2018-11-28 15:56:57
                  ...
7667787   2019-01-31 23:57:36
7667788   2019-01-31 23:32:03
7667789   2019-01-31 23:36:36
7667790   2019-01-31 23:14:53
7667791   2019-01-31 23:12:49
Name: tpep_pickup_datetime, Length: 7661494, dtype: datetime64[ns]

In [11]:
# lab 1
df.tpep_pickup_datetime  = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df['trip_duration'] = (df.tpep_dropoff_datetime - df.tpep_pickup_datetime).dt.total_seconds()/60

In [12]:
# lab 2
df = df[(df.trip_duration > 0) & (df.trip_duration < 2000)]

print(df.trip_duration.min())
print(df.trip_duration.max())
print(df.trip_duration.mean())

df[df.trip_duration.max() == df.trip_duration]

0.016666666666666666
1687.0333333333333
16.494598144522026

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,trip_duration
1715207,2,2019-01-08 20:18:52,2019-01-10 00:25:54,1,0.78,1,N,7,7,2,5.0,1.3,0.5,0.0,0.0,0.0,6.8,NaN,1687.033333

In [13]:
# lab 3
df['pickup_day'] = df.tpep_pickup_datetime.dt.day_name()
df.pickup_day.value_counts()

Thursday     1350425
Wednesday    1258658
Tuesday      1202878
Friday       1081875
Saturday     1007030
Monday        903702
Sunday        856926
Name: pickup_day, dtype: int64

In [14]:
# lab 4
df.passenger_count.value_counts()

1    5451155
2    1113443
5     323760
3     314550
6     200770
4     140649
0     117111
8         28
7         19
9          9
Name: passenger_count, dtype: int64

In [46]:
# lab 5
df['pickup_hour'] = df['tpep_pickup_datetime'].dt.hour
df['pickup_hour'].value_counts().index

Int64Index([18, 19, 17, 15, 14, 20, 16, 21, 13, 12, 11,  8, 22,  9, 10,  7, 23,
             0,  6,  1,  2,  3,  5,  4],
           dtype='int64')

In [48]:
# lab 6 - 1
df.groupby('VendorID').mean().fare_amount.sort_values(ascending = False) ##건당 인건비

VendorID
2    12.507774
1    12.016892
4    11.563717
Name: fare_amount, dtype: float64

In [44]:
# lab 6 - 2
df.groupby(['VendorID', df['tpep_pickup_datetime'].dt.day]).sum()['fare_amount']
#df.VendorID.value_counts()

VendorID  tpep_pickup_datetime
1         1                        875192.77
          2                        940373.60
          3                       1045803.76
          4                       1066305.85
          5                        979844.30
                                     ...
4         27                        24433.20
          28                        22182.48
          29                        25598.50
          30                        26753.21
          31                        27387.26
Name: fare_amount, Length: 93, dtype: float64

In [26]:
# lab 7 
df_loc

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [49]:
# lab 7 - 1
df_loc['PULocationID'] = df_loc.LocationID
#print(pd.merge(df,df_loc))
df_puloc = df.merge(df_loc)
#df.PULocationID.value_counts()
df_puloc.drop('LocationID', axis = 1, inplace=True)
df_puloc.Zone.value_counts(ascending=False).nlargest(10)

Upper East Side South           332310
Upper East Side North           322858
Midtown Center                  312226
Midtown East                    277025
Times Sq/Theatre District       263463
Penn Station/Madison Sq West    260523
Clinton East                    240763
Murray Hill                     238850
Union Sq                        237519
Lincoln Square East             235043
Name: Zone, dtype: int64

In [11]:
# lab 7 - 2
df_loc['DOLocationID'] = df_loc.LocationID
df_doloc = df.merge(df_loc)
df_doloc.drop('LocationID', axis = 1, inplace = True)
df_doloc.Zone.value_counts(ascending=False).nlargest(5)
# df_doloc.Zone.value_counts(ascending=False).nlargest(5).index.tolist() # . index를 반환

NV                       137273
Upper East Side North     47709
Upper East Side South     39903
Upper West Side South     19460
Clinton East              18327
Name: Zone, dtype: int64

In [50]:
# lab 8
def convolution2d(x, kernel, stride=1):
    """
    Convolution 2D : Do Convolution on 'x' with filter = 'kernel', stride = 'stride'
    입력 x에 대해 'kernel'을 filter로 사용하여 2D Convolution을 수행하시오.
    [Input]
    x: 2D array
    - Shape : (Height, Width)
    kernel : 2D convolution filter
    - Shape : (Kernel size, Kernel size)
    stride : Stride size (default = 1)
    - dtype : int
    [Output]
    conv_out : convolution result
    - Shape : (Conv_Height, Conv_Width)
    - Conv_Height & Conv_Width can be calculated using 'Height', 'Width', 'Kernel size', 'Stride'
    """
    height, width = x.shape
    kernel_size = kernel.shape[0]
    conv_out = None
    # =============================== EDIT HERE ===============================
    m, n = height + 1 - kernel_size, width + 1 - kernel_size
    conv_out = np.zeros((int((height-kernel_size)/ stride)+1, int((width-kernel_size) / stride)+1))
    k = 0
    for i in range(0, m, stride):
        l = 0
        for j in range(0, n, stride):
            conv_out[k][l] = np.sum(x[i:i + kernel_size, j:j + kernel_size] * kernel)
            l = l + 1
        k = k + 1
    # =========================================================================
    return conv_out

x = np.array([[1,0,0,0], [1,1,1,1], [0,1,0,0], [1,1,0,1]])
kernel = np.array([[1,0,0], [0,1,1], [1,1,1]])

y = convolution2d(x,kernel)
y

array([[4., 3.],
       [4., 3.]])