## Q1-(1)

In [2]:
a = 10
b = 20
c = 30
a, b, c = b, c+1, a+b
print(a, b, c)

20 31 30

## Q1-(2)

In [1]:
print(9/4)
print(9//4)
print(-9/4)
print(-9//4)
print(2**5)

2.25
2
-2.25
-3
32

## Q1-(3)

In [4]:
print(0 == 0)
print(1+True)
print(True + False)
print(True and False)
print(True == 3)

True
2
1
False
False

## Q1-(4)

In [5]:
s = 'Hello Python'
print(s[3:])
print(s[:7])
print(s[-5:])
print(s[::-1])

lo Python
Hello P
ython
nohtyP olleH

## Q1-(5)

In [6]:
L1 = [1, 2, 3]
L2 = ['spam', 'ham']
print(L1 + L2)
print(L1 * 2)

[1, 2, 3, 'spam', 'ham']
[1, 2, 3, 1, 2, 3]

## Q1-(6)

In [3]:
a = [1, 2, 3, 4]
b = a
a[2] = 9
print(a)
print(b)

[1, 2, 9, 4]
[1, 2, 9, 4]

## Q1-(7)

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

## Q1-(8)

In [19]:
for i in range(0,10,3):
    print(i)

0
3
6
9

## Q1-(9)

In [20]:
a = 'spam'
print(a * 3)
print('#'.join([a]*3))

spamspamspam
spam#spam#spam

## Q1-(10)

In [21]:
def f(a, b):
    a = 9
    b[0] = 'spam'
 
x = 5
L = [1, 2, 3]
f(x, L)
print(x)
print(L)

5
['spam', 2, 3]

## Q1-(11)

In [23]:
d = { 'spam':6.99, 'egg':0.99, 'sausage':3.99 }
print(d.get('bacon', 0))
print(d['egg']+1.0)
print(d['ham']+0.99)

0
1.99

KeyError: 'ham'

## Q1-(12)

In [22]:
d = { 'spam':6.99, 'egg':0.99, 'sausage':3.99 }
for i in d:
    print(i)

spam
egg
sausage

## Q1-(13)

In [26]:
import numpy as np
a = np.arange(5)
b = a[a % 2 == 1]
print(a)
print(b)

[0 1 2 3 4]
[1 3]

## Q1-(14)

In [48]:
import numpy as np
a = np.array([[[1, 2, 3],[4, 5, 6]]])
print(a.shape)

(1, 2, 3)

## Pandas

In [41]:
import pandas as pd
d1 = {'A':['spam', 'ham', 'egg', 'bacon'], 'B':[5.99, 3.99, 0.99, 1.99]}
d2 = {'A':['ham', 'bacon'], 'C':['China', 'Korea']}
df1 = pd.DataFrame(d1)
df1 = df1.set_index('A')
df2 = pd.DataFrame(d2)
df2 = df2.set_index('A')
df1

          B
A
spam   5.99
ham    3.99
egg    0.99
bacon  1.99

In [42]:
df2

           C
A
ham    China
bacon  Korea

In [44]:
pd.merge(df1, df2, on='A')

          B      C
A
ham    3.99  China
bacon  1.99  Korea

In [2]:
s = ['*']
for i in range(5):
    print(s)
    s[i+1] = '*'

['*']

IndexError: list assignment index out of range

In [10]:
n = 4
a = n
for i in range(n):
    n = n*(n-(i+1))
print(n)

197065440

In [8]:
a = range(10)
a = [i for i in range(10)]
a = list(map(float,a))
a

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]